*{
    /* 初始化，取消元素内外边距 */
    margin: 0;
    padding: 0;
}
body{
    /* 背景颜色 */
    background-color: #222;
    /* 弹性布局 */
    display: flex;
    /* 垂直水平居中 */
    justify-content: center;
    align-items: center;
    /* 100%的窗口高度 */
    height: 100vh;
}
h1{
    color: #333;
    text-transform: uppercase;
    font-size: 112px;
    /* 相对定位 */
    position: relative;
}
h1::after{
    content: "Rabbit";
    /* 颜色改为透明 */
    color: transparent;
    /* 绝对定位 */
    position: absolute;
    top: 0;
    left: 0;
    /* 设定颜色 */
    background: linear-gradient(to right,#ff59b3,#fe0000,#ffff01,#40e1d2,#410098,#9400d4);
    /* 以文字的范围裁剪背景颜色 */
    background-clip: text;
    -webkit-background-clip: text;
    /* 将图片裁剪为圆形（100px为圆的直径，0% 50%表示圆心的位置 */
    clip-path:circle(100px at 0% 50%);
    /* 执行动画（动画名称 时长 infinite表示无限次播放） */
    animation: light 5s infinite;
}
/* 定义动画改变圆心的位置 */
@keyframes light{
    0%{
        clip-path:circle(100px at 0% 50%);
    }
    50% {
        clip-path: circle(100px at 100% 50%);
    }
    100% {
        clip-path: circle(100px at 0% 50%);
    }
}